AI-Driven Business Process Orchestration with Composio and n8n Integration.json
{
  "name": "AI-Driven Business Process Orchestration with Composio and n8n Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-vip-order",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f7e0783a-06d7-4390-9f73-f4e3d4225ad6",
      "name": "Composio Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -672,
        96
      ],
      "webhookId": "5933e43f-e8f0-4ef3-b14d-53ea943f1aa6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "warehouseAUrl",
              "value": "<__PLACEHOLDER_VALUE__Warehouse A API endpoint__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "warehouseBUrl",
              "value": "<__PLACEHOLDER_VALUE__Warehouse B API endpoint__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "taxApiUrl",
              "value": "<__PLACEHOLDER_VALUE__Tax calculation API endpoint__>",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "pdfGeneratorUrl",
              "value": "<__PLACEHOLDER_VALUE__PDF generation service endpoint__>",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "crmApiUrl",
              "value": "<__PLACEHOLDER_VALUE__CRM system API endpoint__>",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "erpApiUrl",
              "value": "<__PLACEHOLDER_VALUE__ERP system API endpoint__>",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "notificationUrl",
              "value": "<__PLACEHOLDER_VALUE__Notification service endpoint__>",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "vipDiscountPercent",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "ef018ef9-2d84-469a-a3d6-727d85c44c35",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming order data from Composio webhook\nconst webhookData = $input.all();\n\n// Extract order details from the webhook payload\nconst items = webhookData.map(item => {\n  const body = item.json.body || item.json;\n  \n  return {\n    json: {\n      orderId: body.orderId || body.order_id,\n      customerId: body.customerId || body.customer_id,\n      items: body.items || [],\n      shippingAddress: body.shippingAddress || body.shipping_address || {\n        street: body.street,\n        city: body.city,\n        state: body.state,\n        zipCode: body.zipCode || body.zip_code,\n        country: body.country\n      },\n      customerTier: body.customerTier || body.customer_tier || 'standard'\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "27811195-3e26-4a19-a99d-9ef52d82818d",
      "name": "Parse Order Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.warehouseAUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orderItems",
              "value": "={{ $('Parse Order Data').first().json.orderItems }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0a68d8c3-abf0-4437-882b-d45fd2677d95",
      "name": "Check Inventory - Warehouse A",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.warehouseBUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse Order Data').first().json.orderItems }}",
        "options": {}
      },
      "id": "02e6d524-ff0f-4c09-a121-fc9f44341766",
      "name": "Check Inventory - Warehouse B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "cdc9bdb9-8127-4ea6-ab9c-fefc2b5c4f87",
      "name": "Combine Inventory Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get inventory data from both warehouses\nconst warehouseA = $input.first().json.warehouseA || {};\nconst warehouseB = $input.first().json.warehouseB || {};\n\n// Extract relevant data for comparison\nconst warehouseAData = {\n  name: 'Warehouse A',\n  stockLevel: warehouseA.stockLevel || 0,\n  shippingTime: warehouseA.shippingTime || 999,\n  shippingCost: warehouseA.shippingCost || 999,\n  available: warehouseA.available || false\n};\n\nconst warehouseBData = {\n  name: 'Warehouse B',\n  stockLevel: warehouseB.stockLevel || 0,\n  shippingTime: warehouseB.shippingTime || 999,\n  shippingCost: warehouseB.shippingCost || 999,\n  available: warehouseB.available || false\n};\n\n// Determine the best warehouse based on multiple criteria\nlet selectedWarehouse = null;\nlet score = { A: 0, B: 0 };\n\n// Check availability first (critical factor)\nif (warehouseAData.available && !warehouseBData.available) {\n  selectedWarehouse = warehouseAData;\n} else if (warehouseBData.available && !warehouseAData.available) {\n  selectedWarehouse = warehouseBData;\n} else if (warehouseAData.available && warehouseBData.available) {\n  // Both available - compare other factors\n  \n  // Compare stock levels (higher is better)\n  if (warehouseAData.stockLevel > warehouseBData.stockLevel) score.A += 3;\n  else if (warehouseBData.stockLevel > warehouseAData.stockLevel) score.B += 3;\n  \n  // Compare shipping time (lower is better)\n  if (warehouseAData.shippingTime < warehouseBData.shippingTime) score.A += 2;\n  else if (warehouseBData.shippingTime < warehouseAData.shippingTime) score.B += 2;\n  \n  // Compare shipping cost (lower is better)\n  if (warehouseAData.shippingCost < warehouseBData.shippingCost) score.A += 1;\n  else if (warehouseBData.shippingCost < warehouseAData.shippingCost) score.B += 1;\n  \n  // Select warehouse with higher score\n  selectedWarehouse = score.A >= score.B ? warehouseAData : warehouseBData;\n} else {\n  // Neither available\n  selectedWarehouse = {\n    name: 'None',\n    stockLevel: 0,\n    shippingTime: 0,\n    shippingCost: 0,\n    available: false\n  };\n}\n\n// Return the selected warehouse details\nreturn [\n  {\n    json: {\n      selectedWarehouse: selectedWarehouse.name,\n      stockLevel: selectedWarehouse.stockLevel,\n      shippingTime: selectedWarehouse.shippingTime,\n      shippingCost: selectedWarehouse.shippingCost,\n      available: selectedWarehouse.available,\n      comparisonScores: score,\n      warehouseDetails: {\n        warehouseA: warehouseAData,\n        warehouseB: warehouseBData\n      }\n    }\n  }\n];"
      },
      "id": "f266507c-e399-403d-b1a5-fd52d4848ad4",
      "name": "Determine Best Warehouse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Determine Best Warehouse').item.json.stockAvailable }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b646296-ce93-4c78-bff6-cd0bb1d534fe",
      "name": "Check Stock Availability",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.taxApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orderTotal",
              "value": "={{ $('Parse Order Data').first().json.orderTotal }}"
            },
            {
              "name": "shippingAddress",
              "value": "={{ $('Parse Order Data').first().json.shippingAddress }}"
            },
            {
              "name": "customerDetails",
              "value": "={{ $('Parse Order Data').first().json.customerDetails }}"
            }
          ]
        },
        "options": {}
      },
      "id": "90929508-7dc2-4adc-9f6c-538ebbaa7f6a",
      "name": "Calculate Tax",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "invoiceNumber",
              "value": "={{ 'INV-' + $now.toFormat('yyyyMMdd') + '-' + $('Parse Order Data').item.json.orderId }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "subtotal",
              "value": "={{ $('Parse Order Data').item.json.subtotal }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "taxAmount",
              "value": "={{ $('Calculate Tax').item.json.taxAmount }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "discount",
              "value": "={{ $('Parse Order Data').item.json.subtotal * ($('Parse Order Data').item.json.vipDiscountPercentage / 100) }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "totalAmount",
              "value": "={{ $('Parse Order Data').item.json.subtotal + $('Calculate Tax').item.json.taxAmount - ($('Parse Order Data').item.json.subtotal * ($('Parse Order Data').item.json.vipDiscountPercentage / 100)) }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "invoiceDate",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c6d2bbcb-73ad-47aa-9843-c2475328cc17",
      "name": "Prepare Invoice Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.pdfGeneratorUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"orderId\": $('Parse Order Data').first().json.orderId,\n  \"customerName\": $('Parse Order Data').first().json.customerName,\n  \"customerEmail\": $('Parse Order Data').first().json.customerEmail,\n  \"items\": $('Parse Order Data').first().json.items,\n  \"subtotal\": $('Prepare Invoice Data').first().json.subtotal,\n  \"tax\": $('Calculate Tax').first().json.taxAmount,\n  \"total\": $('Prepare Invoice Data').first().json.total,\n  \"warehouse\": $('Determine Best Warehouse').first().json.selectedWarehouse,\n  \"invoiceDate\": $now.format('yyyy-MM-dd'),\n  \"invoiceNumber\": $('Prepare Invoice Data').first().json.invoiceNumber\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "cbd62309-3249-466e-bd18-394268f38622",
      "name": "Generate PDF Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.crmApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "customerId",
              "value": "={{ $json.customerId }}"
            },
            {
              "name": "orderId",
              "value": "={{ $json.orderId }}"
            },
            {
              "name": "orderStatus",
              "value": "={{ $json.orderStatus }}"
            },
            {
              "name": "invoiceReference",
              "value": "={{ $json.invoiceReference }}"
            }
          ]
        },
        "options": {}
      },
      "id": "05d3e82e-d904-40c9-9605-0cff6a6c751b",
      "name": "Update CRM System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.erpApiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orderId",
              "value": "={{ $('Parse Order Data').item.json.orderId }}"
            },
            {
              "name": "customerId",
              "value": "={{ $('Parse Order Data').item.json.customerId }}"
            },
            {
              "name": "orderDetails",
              "value": "={{ $('Parse Order Data').item.json.orderDetails }}"
            },
            {
              "name": "warehouseId",
              "value": "={{ $('Determine Best Warehouse').item.json.selectedWarehouse }}"
            },
            {
              "name": "inventoryUpdates",
              "value": "={{ $('Determine Best Warehouse').item.json.inventoryUpdates }}"
            },
            {
              "name": "totalAmount",
              "value": "={{ $('Calculate Tax').item.json.totalAmount }}"
            },
            {
              "name": "taxAmount",
              "value": "={{ $('Calculate Tax').item.json.taxAmount }}"
            },
            {
              "name": "invoiceId",
              "value": "={{ $('Generate PDF Invoice').item.json.invoiceId }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c7d57d6-3c63-4713-a794-b97acd4724eb",
      "name": "Update ERP System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1792,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').first().json.notificationUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "notificationType",
              "value": "order_confirmation"
            },
            {
              "name": "customerEmail",
              "value": "={{ $('Parse Order Data').first().json.customerEmail }}"
            },
            {
              "name": "orderSummary",
              "value": "={{ $('Prepare Invoice Data').first().json }}"
            },
            {
              "name": "invoiceAttachment",
              "value": "={{ $('Generate PDF Invoice').first().json.invoiceUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27edc434-69e9-4c7b-9bbc-7b94fe238982",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2016,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "VIP order processed successfully",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "orderId",
              "value": "={{ $('Parse Order Data').item.json.orderId }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "invoiceNumber",
              "value": "={{ $('Prepare Invoice Data').item.json.invoiceNumber }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "warehouse",
              "value": "={{ $('Determine Best Warehouse').item.json.selectedWarehouse }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "estimatedDelivery",
              "value": "={{ $now.plus({ days: 3 }).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ee1028da-21c3-40d5-ada8-bb4e185854eb",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "out_of_stock",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "Order cannot be fulfilled - insufficient inventory",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "orderId",
              "value": "={{ $('Parse Order Data').item.json.orderId }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "requestedItems",
              "value": "={{ JSON.stringify($('Parse Order Data').item.json.items) }}",
              "type": "array"
            },
            {
              "id": "id-5",
              "name": "availableAlternatives",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "72692e6d-8719-42bc-b50c-3c29d52fbd8c",
      "name": "Format Out of Stock Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        192
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "86c0b395-7383-4a70-b074-663e19d0c0f0",
      "name": "Return Response to Composio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2464,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Composio Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Parse Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order Data": {
      "main": [
        [
          {
            "node": "Check Inventory - Warehouse A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Inventory - Warehouse B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inventory - Warehouse A": {
      "main": [
        [
          {
            "node": "Combine Inventory Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inventory - Warehouse B": {
      "main": [
        [
          {
            "node": "Combine Inventory Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Inventory Results": {
      "main": [
        [
          {
            "node": "Determine Best Warehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Best Warehouse": {
      "main": [
        [
          {
            "node": "Check Stock Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stock Availability": {
      "main": [
        [
          {
            "node": "Calculate Tax",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Out of Stock Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Tax": {
      "main": [
        [
          {
            "node": "Prepare Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Invoice Data": {
      "main": [
        [
          {
            "node": "Generate PDF Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF Invoice": {
      "main": [
        [
          {
            "node": "Update CRM System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM System": {
      "main": [
        [
          {
            "node": "Update ERP System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ERP System": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Return Response to Composio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Out of Stock Response": {
      "main": [
        [
          {
            "node": "Return Response to Composio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cffe4db0-6666-40cd-9c09-ebcba63e0426",
  "meta": {
    "instanceId": "7757e71dfa886e07fe4e78bf1faf8643a5bd45f0bf3045b6064519eb3b2e0917"
  },
  "id": "J431zaOj1pTKMeUU",
  "tags": []
}